@model IEnumerable<WebApplication3.Model.Airport>

@{
    ViewBag.Title = "Airports";
}

<h2>Airports</h2>

@Html.Partial("_Search")

@if (TempData["message"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["message"]
    </div>
}

@if (TempData["errorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @TempData["errorMessage"]
    </div>
}

<p>
    @Html.ActionLink("Add airport", "CreateAirport", null, new { @class = "btn btn-primary" })
</p>

<div id="accordion" class="panel-group">
    @foreach (var airport in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading" id="heading@(airport.Id)">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse@(airport.Id)" class="searchItem">@Html.DisplayFor(modelItem => airport.Name)</a>
                </h4>
            </div>
            <div id="collapse@(airport.Id)" class="panel-collapse collapse" role="tabpanel" data-parent="#accordion">
                <div class="panel-body">
                    @using (Html.BeginForm("UpdateAirport", "Admin", FormMethod.Post))
                    {
                        @Html.HiddenFor(i => airport.Id)
                        <div class="container">
                            <div class="row form-group">
                                @Html.LabelFor(i => airport.Name, new { @class = "control-label col-md-1 " })
                                <div class="col-md-8 col-md-offset-1">
                                    @Html.TextBoxFor(i => airport.Name, new { @class = "form-control", style = "max-width:100%" })
                                    @Html.ValidationMessageFor(i => airport.Name)
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(i => airport.Code, new { @class = "control-label col-md-1 " })
                                <div class="col-md-8 col-md-offset-1">
                                    @Html.TextBoxFor(i => airport.Code, new { @class = "form-control", style = "max-width:100%" })
                                    @Html.ValidationMessageFor(i => airport.Code)
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(i => airport.Country, new { @class = "control-label col-md-1 " })
                                <div class="col-md-8 col-md-offset-1">
                                    @Html.TextBoxFor(i => airport.Country, new { @class = "form-control", style = "max-width:100%" })
                                    @Html.ValidationMessageFor(i => airport.Country)
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(i => airport.City, new { @class = "control-label col-md-1 " })
                                <div class="col-md-8 col-md-offset-1">
                                    @Html.TextBoxFor(i => airport.City, new { @class = "form-control", style = "max-width:100%" })
                                    @Html.ValidationMessageFor(i => airport.City)
                                </div>
                            </div>
                            
                            <div class="row form-group">
                                <div class="col">
                                    <button type="submit" class="btn btn-success">Apply changes</button>
                                    <button type="button" class="btn btn-danger" onclick="deleteAirport(@(airport.Id))">Delete</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<script>

    function deleteAirport(id) {
         window.location.href = "/Admin/DeleteAirport?id=" + id;
        
    }
</script>
