@model IEnumerable<WebApplication3.Model.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

@Html.Partial("_Search")

@if (TempData["message"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["message"]
    </div>
}

@if (TempData["errorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @TempData["errorMessage"]
    </div>
}

<p>
    @Html.ActionLink("Add customer", "CreateCustomer",null, new { @class="btn btn-primary" })
</p>

<div id="accordion" class="panel-group">
    @foreach (var customer in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading" id="heading@(customer.Id)">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse@(customer.Id)" class="searchItem">@Html.DisplayFor(modelItem => customer.Firstname) @Html.DisplayFor(modelItem => customer.Lastname)</a>
                </h4>
            </div>
            <div id="collapse@(customer.Id)" class="panel-collapse collapse" role="tabpanel" data-parent="#accordion">
                <div class="panel-body">
                    @using (Html.BeginForm("UpdateCustomer", "Admin", FormMethod.Post))
                    {
                        @Html.HiddenFor(i => customer.Id)
                        <div class="container">
                            <div class="row form-group">
                                @Html.LabelFor(i => customer.Firstname, new { @class = "control-label col-md-1 " })
                                <div class="col-md-8 col-md-offset-1">
                                    @Html.TextBoxFor(i => customer.Firstname, new { @class = "form-control", style = "max-width:100%" })
                                    @Html.ValidationMessageFor(i => customer.Firstname)
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(i => customer.Lastname, new { @class = "control-label col-md-1 " })
                                <div class="col-md-8 col-md-offset-1">
                                    @Html.TextBoxFor(i => customer.Lastname, new { @class = "form-control", style = "max-width:100%" })
                                    @Html.ValidationMessageFor(i => customer.Firstname)
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(i => customer.Telephone, new { @class = "control-label col-md-1 " })
                                <div class="col-md-8 col-md-offset-1">
                                    @Html.TextBoxFor(i => customer.Telephone, new { @class = "form-control", style = "max-width:100%" })
                                    @Html.ValidationMessageFor(i => customer.Firstname)
                                </div>
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(i => customer.Email, new { @class = "control-label col-md-1 " })
                                <div class="col-md-8 col-md-offset-1">
                                    @Html.TextBoxFor(i => customer.Email, new { @class = "form-control", style = "max-width:100%" })
                                    @Html.ValidationMessageFor(i => customer.Firstname)
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <button type="submit" class="btn btn-success">Apply changes</button>
                                    <button type="button" class="btn btn-danger" onclick="deletePerson(@(customer.Id))">Delete</button>
                                </div>
                            </div>
                            <div class="row form-group">
                                @if (customer.Order.Any())
                                {
                                    <hr/>
                                    <h4>All orders for @customer.Lastname, @customer.Firstname:</h4>
                                    <ul class="list-group">
                                        @foreach (var order in customer.Order)
                                        {
                                            <li class="list-group-item"><a href="/Admin/Order?id=@(order.Id)">Reference: @(order.Reference)</a></li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<script>

    function deletePerson(id) {
         window.location.href = "/Admin/DeleteCustomer?id=" + id;
    }
</script>