@model IEnumerable<WebApplication3.Model.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="accordion" class="panel-group">
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading" id="heading@(item.Id)">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse@(item.Id)" >
                        @Html.DisplayFor(modelItem => item.Firstname)
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </a>
                </h4>
            </div>
            <div id="collapse@(item.Id)" class="panel-collapse collapse" role="tabpanel"  data-parent="#accordion">
                <div class="panel-body">
                    @Html.DisplayFor(modelItem => item.Telephone)
                    @Html.DisplayFor(modelItem => item.Email)
                </div>
            </div>
        </div>
    }
</div>