<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    @Html.Partial("_Navbar")
    @if (@ViewContext.RouteData.Values["controller"].ToString() == "Home")
    {
        @Html.Partial("_Search")
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p id="footerParagraph">&copy; @DateTime.Now.Year - WebApplikasjoner Oblig 1</p>
            <p id="footerParagraph">Default flights are at "SEPTEMBER 12th 2017"</p>
            <p id="footerParagraph">Return flight is at "SEPTEMBER 13th 2017"</p>
            <p id="footerParagraph">Gardermoen - Paris is the default route</p>
        </footer>
    </div>
    

</body>
</html>
