<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Skytravel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a style="cursor:pointer;" id="modalAnchor" data-toggle="modal" data-target="#myModal">Search  <span class="glyphicon glyphicon-search"/></a></li>
                    <li><a style="cursor:pointer;" id="modalAnchor" data-toggle="modal" data-target="#myModal">Admin   <span class="glyphicon glyphicon-cog" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    @Html.Partial("_Search")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p id="footerParagraph">&copy; @DateTime.Now.Year - WebApplikasjoner Oblig 1</p>
            <p id="footerParagraph">Default flights are at "SEPTEMBER 12th 2017"</p>
            <p id="footerParagraph">Return flight is at "SEPTEMBER 13th 2017"</p>
            <p id="footerParagraph">Gardermoen - Paris is the default route</p>
        </footer>
    </div>
    

</body>
</html>
