
@model WebApplication3.Model.Order

<link rel="stylesheet" type="text/css" href="~/Content/CSS_files/OrderView.css" />

@if (Model != null)
{
    <div class="container" id="flightInformationDiv">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Traveler</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.Tickets)
                {
                    <tr>
                        <td>@t.Traveler.Firstname @t.Traveler.Lastname</td>
                        <td>@t.Flight.Route.FromAirport.Name</td>
                        <td>@t.Flight.Route.ToAirport.Name</td>
                        <td>@t.Flight.Time</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Search returned empty</p>
}
