
@{
    ViewBag.Title = "Payment";
}

<br />
<h2 style="text-align: center;">Payment</h2>
<br /><br />

<style>
    th {
        background-color: #428bca;
        color: white;
    }
</style>

@{
    var order = (WebApplication3.Models.OrderSession)Session["Order"];
    if (order != null)
    {
        <!--Flight Information div-->
        <div class="container" style="min-width: 677px;">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>From Airport</th>
                        <th>To Airport</th>
                        <th>Date</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var f in order.Flights)
                    {
                        <tr>
                            <td>@f.Route.FromAirport.Name</td>
                            <td>@f.Route.ToAirport.Name</td>
                            <td>@f.Time</td>
                            <td>@f.Price</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br /><br /><br /><br />
        </div>
    }
}

@{
    if (order != null)
    {
        <div class="container" style="display: flex;">

            <!--Contact Information div-->
            <div class="row" style="width: 40%; min-width: 350px;">
                <div class="col-md-12 col-lg-offset-0">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="text-center">
                                Contact Information
                            </h3>
                            <br />
                            <form class="form form-signup" role="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </span>
                                        <p class="form-control">@order.Customer.Firstname @order.Customer.Lastname</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-home"></span>
                                        </span>
                                        <p class="form-control">@order.Customer.Address, @order.Customer.ZipCode, @order.Customer.City</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-flag"></span>
                                        </span>
                                        <p class="form-control">@order.Customer.Country</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-earphone"></span>
                                        </span>
                                        <p class="form-control">@order.Customer.Telephone</p>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </span>
                                        <p class="form-control">@order.Customer.Email</p>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>


            <!--Payment div-->
            <div class="row" style="flex: 1; margin-left: 5%; min-width: 310px;">
                <div class="col-md-12 col-lg-offset-0">
                    <div class="panel panel-default credit-card-box">
                        <div class="panel-heading display-table">
                            <div class="row display-tr">
                                <h3 class="panel-title display-td col-xs-12">Payment Details</h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="cardNumber">CARD NUMBER</label>
                                            <div class="input-group" style="width: 100%;">
                                                <input type="tel"
                                                       style="max-width: 100%; border-radius: 4px;"
                                                       class="form-control"
                                                       id="cardNumber"
                                                       maxlength="16"
                                                       name="cardNumber"
                                                       placeholder="Valid Card Number" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 col-md-7">
                                        <div class="form-group">
                                            <label for="cardExpiry">EXPIRATION DATE</label>
                                            <input type="text"
                                                   class="form-control"
                                                   maxlength="5"
                                                   id="expDate"
                                                   name="cardExpiry"
                                                   placeholder="MM/YY" />
                                        </div>
                                    </div>
                                    <div class="col-xs-5 col-md-5 pull-right">
                                        <div class="form-group">
                                            <label for="cardCVC">CVC CODE</label>
                                            <input type="tel"
                                                   class="form-control"
                                                   maxlength="3"
                                                   id="cvc"
                                                   name="cardCVC"
                                                   placeholder="CVC" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="subscribe btn btn-success btn-lg btn-block" onclick="return onSubmitForm()" type="button">Pay</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script>
    var lastInput = $("#expDate").val();
    $("#expDate").keyup(function () {
        var input = $("#expDate").val();
        if (input.length == 2 && lastInput.length != 3) {
            $('#expDate').val($('#expDate').val() + '/');
        }
        if (input.length < lastInput.length || input.length == 2 && lastInput.length == 2) {
            $('#expDate').val('');
            lastInput = 0;
        } else {
            lastInput = input;
        }
    });


    var onSubmitForm = function () {
        if (!$('#cardNumber').val()) {
            alert("Card Number is required");
            return false;
        }
        if (!$.isNumeric($('#cardNumber').val())) {
            alert("Card Number can only have numbers");
            return false;
        }
        if (!$('#expDate').val()) {
            alert("Expiration Date is required.");
            return false;
        }
        if (!$('#cvc').val()) {
            alert("CVC is required.");
            return false;
        }
    }

</script>

