@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<WebApplication3.Models.Travel>

<h1>Register flight</h1>
@if (Model != null)
{
    foreach (var f in Model)
    {
    <div class="list-group">
        @if (f.isSingleFlight)
        {
            <form action="/home/registration" method="post">
                <a>Reise: @f.FromFlight.Route.FromAirport.Name - @f.FromFlight.Route.ToAirport.Name  </a>
                <input type="hidden" id="flightId1" name="flightId1" value="@f.FromFlight.Id" />
                <input type="submit" />
                </form>

                }
                else
                {
                <form action="/home/registration" method="post">
                    <a>Reise: @f.FromFlight.Route.FromAirport.Name - @f.FromFlight.Route.ToAirport.Name  </a>
                    <a>Reise 2: @f.ToFlight.Route.FromAirport.Name - @f.ToFlight.Route.ToAirport.Name  </a>
                    <input type="hidden" id="flightId1" name="flightId1" value="@f.FromFlight.Id" />
                    <input type="hidden" id="flightId2" name="flightId2" value="@f.ToFlight.Id" />
                    <input type="submit" />
                </form>
                    }
</div>
    
    }
}
        <!--LEGG TIL RETURREISER OGSÅ SOM HIDDEN INPUT OG EN EGEN FORM. BØR VÆRE VALG OM VIL HA RETURREISE ELLER IKKE-->