
@model List<WebApplication3.Models.Customer>

@{
    ViewBag.Title = "Registration";
}

<script src="~/Scripts/Javascript/Registration.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/CSS_files/Registration.css" />

<br />

<div id="skyScannerContainer">

    @{
        var order = (List<WebApplication3.Models.Flight>)ViewBag.FlightList;
        if (order != null)
        {
            <div id="flightInformationContainer">
                <div class="container" id="registrationFlightInformationDiv">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Date</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var f in order)
                            {
                                <tr>
                                    <td>@f.Route.FromAirport.Name</td>
                                    <td>@f.Route.ToAirport.Name</td>
                                    <td>@f.Time</td>
                                    <td>@(f.Price * ViewBag.NumberTravellers) $</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


            using (Html.BeginForm("Payment", "Home"))
            {
                @Html.AntiForgeryToken()

                for (var i = 0; i < ViewBag.NumberTravellers; i++)
                {
                    <div id="travellersContainer">
                        <div class="form-horizontal" id="contactInformationInputForm">
                            <hr />

                            @if (i == 0)
                        {
                                <h3>Contact</h3>
                            }
                            else
                            {
                                <h4>Traveller @(i)</h4>
                            }
                            <div class="form-group" id="travellerForm">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    @Html.EditorFor(model => model[i].Firstname, new { htmlAttributes = new { placeholder = "First Name", @class = "form-control", @id = "firstname" } })
                                    @Html.ValidationMessageFor(model => model[i].Firstname, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" id="travellerForm">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    @Html.EditorFor(model => model[i].Lastname, new { htmlAttributes = new { placeholder = "Last Name", @class = "form-control", @id = "lastname" } })
                                    @Html.ValidationMessageFor(model => model[i].Lastname, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" id="travellerForm">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-earphone"></span>
                                    </span>
                                    @Html.EditorFor(model => model[i].Telephone, new { htmlAttributes = new { placeholder = "Telephone", @class = "form-control", @id = "telephone" } })
                                    @Html.ValidationMessageFor(model => model[i].Telephone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" id="travellerForm">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </span>
                                    @Html.EditorFor(model => model[i].Email, new { htmlAttributes = new { placeholder = "Email", @class = "form-control", @id = "email" } })
                                    @Html.ValidationMessageFor(model => model[i].Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div id="registrationButtonDiv">
                    <div class="form-group" id="registrationButtonForm">
                        <input type="submit" onclick="return onSubmitForm()" value="Register" class="btn btn-primary" id="registrationButton" />
                    </div>
                </div>
            }
        }
    }

</div>