@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<WebApplication3.Models.Flight>

<h1>Register flight</h1>

@if (Model != null)
{
<div class="list-group">
@foreach (var f in Model)
{
    <form action="/home/registration" id="flightForm{@f.Id}" method="post">
    <a href="javascript:{}" onclick="document.getElementById('flightForm{@f.Id}').submit();" class="list-group-item list-group-item-action flex-column align-items-start">
        <input type="hidden" name="flightId" value="@f.Id" />
        <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">@f.Route.FromAirport.Name - @f.Route.ToAirport.Name</h4>
            <small>@f.Time.DayOfWeek, @f.Time.Day.@f.Time.Month @f.Time.Year</small>
        <p class="mb-2" style="float:right;">USD @f.Price</p>
        </div>  
    </a>
    </form>
} 
</div>
}
else
{
    <p>@ViewBag.NoData</p>
}