
@model WebApplication3.Models.TravelModel

<script src="~/Scripts/Javascript/RegisterFlight.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/CSS/RegisterFlight.css" />

@if (Model != null)
{
<h2>Choose your flight to @Model.ToAirport.Name</h2>
    <div id="toFlightsDiv" class="list-group">
        @foreach (var f in Model.Travels)
        {
            if (f.isSingleFlight)
            {
                <a class="list-group-item submitFlight singleToFlight">
                    <span class="glyphicon glyphicon-plane"></span>
                    <p name="travelDescription"><B>@f.TravelDescription</B></p>
                    <p name="travelFromString">@f.TravelFromString</p>
                    <p name="travelToString">@f.TravelToString</p>
                    <p name="price"><span class="glyphicon glyphicon-usd"></span>@(f.Price * ViewBag.NumberTravellers)</p>
                    <p name="dateTime"></p>
                    <input type="hidden" name="flightId1" value="@f.FromFlight.Id" />
                    <input type="hidden" name="f1string" value="" />
                    <input type="hidden" name="f1price" value="" />
                </a>
            }
            else
            {
                <a class="list-group-item submitFlight stopoverToFlight">
                    <span class="glyphicon glyphicon-plane"></span>
                    <p name="travelDescription"><B>@f.TravelDescription</B></p>
                    <p name="travelFromString">@f.TravelFromString</p>
                    <p name="travelToString">@f.TravelToString</p>
                    <p name="price"><span class="glyphicon glyphicon-usd"></span>@(f.Price * ViewBag.NumberTravellers)</p>
                    <p name="dateTime"></p>
                    <input type="hidden" name="flightId1" value="@f.FromFlight.Id" />
                    <input type="hidden" name="flightId2" value="@f.ToFlight.Id" />
                </a>
            }
        }
    </div>
    if (Model.IsReturn)
    {
        <h2>Choose your flight back to @Model.FromAirport.Name</h2>
        <div id="returnFlightsDiv" class="list-group">
            @foreach (var f in Model.ReturnTravels)
            {

                if (f.isSingleFlight)
                {
                    <a class="list-group-item submitFlight singleReturnFlight">
                        <span class="glyphicon glyphicon-plane"></span>
                        <p name="travelDescription"><B>@f.TravelDescription</B></p>
                        <p name="travelFromString">@f.TravelFromString</p>
                        <p name="travelToString">@f.TravelToString</p>
                        <p name="price"><span class="glyphicon glyphicon-usd"></span>@(f.Price * ViewBag.NumberTravellers)</p>
                        <p name="dateTime"></p>
                        <input type="hidden" name="flightId1" value="@f.FromFlight.Id" />
                    </a>
                }
                else
                {
                    <a class="list-group-item submitFlight stopoverReturnFlight">
                        <span class="glyphicon glyphicon-plane"></span>
                        <p name="travelDescription"><B>@f.TravelDescription</B></p>
                        <p name="travelFromString">@f.TravelFromString</p>
                        <p name="travelToString">@f.TravelToString</p>
                        <p name="price"><span class="glyphicon glyphicon-usd"></span>@(f.Price * ViewBag.NumberTravellers)</p>
                        <p name="dateTime"></p>
                        <input type="hidden" name="flightId1" value="@f.FromFlight.Id" />
                        <input type="hidden" name="flightId2" value="@f.ToFlight.Id" />
                    </a>
                }

            }
        </div>
    }
    <div class="panel panel-success">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-shopping-cart"></i>   Your order
        </div>
        <div class="panel-body">
            <div class="list-group-item">
                <p id="travelDescription"></p>
                <p id="travelFromString"></p>
                <p id="travelToString"></p>
                <p id="priceTo"></p>
            </div>
            @if (Model.IsReturn)
            {
                <div class="list-group-item">
                    <p id="travelDescription2"></p>
                    <p id="travelFromString2"></p>
                    <p id="travelToString2"></p>
                    <p id="priceReturn"></p>
                </div>
            }
            ¨<div id="sumDiv">
                <label id="sumLabel" style="font-size: 25px;">Sum:</label>
                <span id="sumSpan" style="font-size: 20px; margin-top: 6px;" class="glyphicon glyphicon-usd"/>
                <p id="price" style="font-size: 25px;"></p>
            </div>
            <form action="/home/registration" onsubmit="return checkFlightForm();" method="post">
                <input required type="hidden" id="flightId1" name="flightId1" value="" />
                <input type="hidden" id="flightId2" name="flightId2" value="" />
                <input type="hidden" id="flightId3" name="flightId3" value="" />
                <input type="hidden" id="flightId4" name="flightId4" value="" />
                <input id="submitButton" class="btn-lg btn-success" type="submit" value="To payment" />
            </form>
        </div>
    </div>
}
else
{
    <p>Sorry, no flights on this date!</p>
}